.defaultChecklist, .optionsDefaultChecklist{
    display: none;
    flex-direction: column;
    height: 65px;
    border: 1px solid #b9b9b9;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 1px 1px 1px 1px #ccc;
    margin: 2px;
    transition: all ease .4s;
    margin-top: 20px;
    overflow: hidden;
    background-color: #fbfbfb;
}

.defaultChecklist__content{
    display: flex;
}

.defaultChecklist__slot{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    margin: 2px;
}

.defaultChecklist__slot--auto{
    flex: inherit !important;
}

.defaultChecklist__container{
    display: flex;
    flex-direction: column;
}


